*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #eff5f8;
}

.container {
    display: block;
    margin: 80px auto;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    width: 60vw;
    background-color: #aaa9a6;
    padding-top: 20px;
}

#time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.wrapper {
    padding-top: 20px;
}

@media screen and (max-width: 992px) {
#mainTitle {
    font-size: 35px;
}
}

@media screen and (min-width: 993px) {
    #mainTitle {
        font-size: 50px;
    }
    }


#subTitle {
    font-size: 1.875em;
}

#description {
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(34,36,38,.15) 3px 0 0 4px inset;
    color: rgb(39, 17, 17);
    cursor: pointer;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 40px;;
}

#begin {
    background-color: rgb(226, 224, 224);
    font-size: 30px;
    margin-bottom: 20px;
}

#highScore {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

#content {
    display: none;
    margin: 80px auto;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    width: 60vw;
    background-color: #aaa9a6;
    padding-top: 20px;
    position: relative;
}

.options {
    background-color: rgb(226, 224, 224);
    font-size: 30px;
    margin-bottom: 20px;
}

#questionOutcome, #score {
    display:none;
}

#initials, #submit {
    font-size: 30px;
}
